This notebook filters the original dataset for the following categories:
- train stations 
- lausanne stations (within 10km from lausanne-flon) 
- EPFL stations (within 2km from EPFL)

For each categories, it generates 4 csv files:
- [name]_stations.csv
- [name]_routes.csv
- [name]_trips.csv
- [name]_stop_times.csv

In [1]:
import pandas as pd

### Get all the train stations

All kind of trains are included (e.g. regional trains, intercity, night train, ...)

In [2]:
stops = pd.read_csv("../data/gtfs_fp2025_2025-03-20/stops.txt")
stations = stops[stops["parent_station"].isna()].copy()
stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
58158,Parent1100008,"Zell (Wiesental), Wilder Mann",47.710084,7.859648,1.0,NaN
58159,Parent1100009,"Zell (Wiesental), Grönland",47.713191,7.862909,1.0,NaN
58160,Parent1100010,Atzenbach,47.714618,7.872350,1.0,NaN
58161,Parent1100011,"Mambach, Brücke",47.728209,7.877470,1.0,NaN
58162,Parent1100012,"Mambach, Mühlschau",47.734082,7.881387,1.0,NaN
...,...,...,...,...,...,...
91673,Parent8778400,Perpignan,42.695942,2.879397,1.0,NaN
91674,Parent8780099,Lamarche Centre,48.070833,5.782222,1.0,NaN
91675,Parent8792902,Vallon-Pnt-d'Arc Gare Routière,44.405666,4.397298,1.0,NaN
91676,Parent8793698,Buswiller-Eglise,48.819473,7.559682,1.0,NaN
91677,Parent8799803,"Annecy, gare routière",45.902078,6.118201,1.0,NaN

In [3]:
# Check: Every station's stop_id starts with 'Parent'.
assert(len(stations[~stations['stop_id'].str.contains("Parent")]) == 0)

In [4]:
routes = pd.read_csv("../data/gtfs_fp2025_2025-03-20/routes.txt")
# Check https://opentransportdata.swiss/en/cookbook/gtfs/#routestxt for route types
train_routes = routes[(routes["route_type"] >= 100) & (routes["route_type"] < 200)]
train_routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
0,91-10-A-j25-1,78,S10,NaN,S,109
1,91-10-B-j25-1,11,S10,NaN,S,109
2,91-10-C-j25-1,65,S10,NaN,S,109
5,91-11-A-j25-1,11,S11,NaN,S,109
6,91-11-B-j25-1,327000,S11,NaN,S,109
...,...,...,...,...,...,...
3488,93-81-j25-1,137,81,NaN,CC,116
3490,93-82-j25-1,137,82,NaN,CC,116
3492,93-83-j25-1,136,83,NaN,CC,116
3495,93-87-j25-1,129,87,NaN,CC,116
3497,93-88-j25-1,137,88,NaN,CC,116

In [5]:
trips = pd.read_csv("../data/gtfs_fp2025_2025-03-20/trips.txt", dtype={'original_trip_id': str})
train_trips = trips[trips["route_id"].isin(train_routes["route_id"])]
train_trips

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,original_trip_id,hints
0,91-10-A-j25-1,TA+e1,1.TA.91-10-A-j25-1.1.H,Zürich HB,12866,0,NaN,ch:1:sjyid:100058:12866-002,NF
1,91-10-A-j25-1,TA+cI,10.TA.91-10-A-j25-1.1.H,Zürich HB,12906,0,NaN,ch:1:sjyid:100058:12906-001,NF
2,91-10-A-j25-1,TA+cI,100.TA.91-10-A-j25-1.1.H,Zürich HB,12872,0,NaN,ch:1:sjyid:100058:12872-001,NF
3,91-10-A-j25-1,TA+e1,101.TA.91-10-A-j25-1.1.H,Zürich HB,12872,0,NaN,ch:1:sjyid:100058:12872-003,NF
4,91-10-A-j25-1,TA+cI,102.TA.91-10-A-j25-1.1.H,Zürich HB,12794,0,NaN,ch:1:sjyid:100058:12794-001,NF
...,...,...,...,...,...,...,...,...,...
1108378,93-88-j25-1,TA+47u70,5.TA.93-88-j25-1.3.H,Vitznau,1104,0,NaN,NaN,2 NF VN
1108379,93-88-j25-1,TA+csm00,6.TA.93-88-j25-1.4.R,Rigi Kaltbad-First,1295,1,NaN,NaN,2 NF VN
1108380,93-88-j25-1,TA+xl000,7.TA.93-88-j25-1.4.R,Rigi Kaltbad-First,1263,1,NaN,NaN,2 NF VN
1108381,93-88-j25-1,TA+c6,8.TA.93-88-j25-1.5.R,Rigi Staffelhöhe,1297,1,NaN,NaN,2 NF VN
1108382,93-88-j25-1,TA,9.TA.93-88-j25-1.6.R,Rigi Staffelhöhe,1103,1,NaN,NaN,2 NF VN

In [6]:
stop_times = pd.read_csv("../data/gtfs_fp2025_2025-03-20/stop_times.txt")
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,1.TA.91-10-A-j25-1.1.H,15:07:00,15:07:00,8503054:0:1,1,0,0
1,1.TA.91-10-A-j25-1.1.H,15:08:00,15:08:00,8503053:0:1,2,0,0
2,1.TA.91-10-A-j25-1.1.H,15:09:00,15:09:00,8503052:0:1,3,0,0
3,1.TA.91-10-A-j25-1.1.H,15:12:00,15:12:00,8503051:0:1,4,0,0
4,1.TA.91-10-A-j25-1.1.H,15:15:00,15:15:00,8503090:0:1,5,0,0
...,...,...,...,...,...,...,...
13753385,999.TA.96-188-5-j25-1.9.R,09:26:00,09:26:00,8506897:0:10000,12,0,0
13753386,999.TA.96-188-5-j25-1.9.R,09:27:00,09:27:00,8506892:0:10000,13,0,0
13753387,999.TA.96-188-5-j25-1.9.R,09:28:00,09:28:00,8573224:0:10000,14,0,0
13753388,999.TA.96-188-5-j25-1.9.R,09:29:00,09:29:00,8506891:0:10000,15,0,0
13753389,999.TA.96-188-5-j25-1.9.R,09:31:00,09:31:00,8573223,16,0,0

In [7]:
stop_times_with_parents = stop_times.merge(stops[['stop_id', 'parent_station']], on='stop_id', how='left')
stop_times_with_parents

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,parent_station
0,1.TA.91-10-A-j25-1.1.H,15:07:00,15:07:00,8503054:0:1,1,0,0,Parent8503054
1,1.TA.91-10-A-j25-1.1.H,15:08:00,15:08:00,8503053:0:1,2,0,0,Parent8503053
2,1.TA.91-10-A-j25-1.1.H,15:09:00,15:09:00,8503052:0:1,3,0,0,Parent8503052
3,1.TA.91-10-A-j25-1.1.H,15:12:00,15:12:00,8503051:0:1,4,0,0,Parent8503051
4,1.TA.91-10-A-j25-1.1.H,15:15:00,15:15:00,8503090:0:1,5,0,0,Parent8503090
...,...,...,...,...,...,...,...,...
13753385,999.TA.96-188-5-j25-1.9.R,09:26:00,09:26:00,8506897:0:10000,12,0,0,Parent8506897
13753386,999.TA.96-188-5-j25-1.9.R,09:27:00,09:27:00,8506892:0:10000,13,0,0,Parent8506892
13753387,999.TA.96-188-5-j25-1.9.R,09:28:00,09:28:00,8573224:0:10000,14,0,0,Parent8573224
13753388,999.TA.96-188-5-j25-1.9.R,09:29:00,09:29:00,8506891:0:10000,15,0,0,Parent8506891
13753389,999.TA.96-188-5-j25-1.9.R,09:31:00,09:31:00,8573223,16,0,0,Parent8573223

In [8]:
train_stop_times = stop_times_with_parents[stop_times_with_parents["trip_id"].isin(train_trips["trip_id"])]
train_stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,parent_station
0,1.TA.91-10-A-j25-1.1.H,15:07:00,15:07:00,8503054:0:1,1,0,0,Parent8503054
1,1.TA.91-10-A-j25-1.1.H,15:08:00,15:08:00,8503053:0:1,2,0,0,Parent8503053
2,1.TA.91-10-A-j25-1.1.H,15:09:00,15:09:00,8503052:0:1,3,0,0,Parent8503052
3,1.TA.91-10-A-j25-1.1.H,15:12:00,15:12:00,8503051:0:1,4,0,0,Parent8503051
4,1.TA.91-10-A-j25-1.1.H,15:15:00,15:15:00,8503090:0:1,5,0,0,Parent8503090
...,...,...,...,...,...,...,...,...
12415277,99.TA.93-63-j25-1.7.H,07:30:00,07:30:00,8507384:0:3,1,0,0,Parent8507384
12415278,99.TA.93-63-j25-1.7.H,07:37:00,07:37:00,8507555:0:1,2,0,0,Parent8507555
12415279,99.TA.93-63-j25-1.7.H,07:41:00,07:41:00,8507372:0:3,3,0,0,Parent8507372
12415282,99.TA.93-65-j25-1.4.R,12:16:00,12:16:00,8507361:0:1,1,0,0,Parent8507361
12415283,99.TA.93-65-j25-1.4.R,12:24:00,12:24:00,8507374:0:21,2,0,0,Parent8507374

In [9]:
train_stops = stops[stops["stop_id"].isin(train_stop_times["stop_id"])]
train_stops

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
5663,1402625,Pont-de-Claix l'Étoile,45.137480,5.702577,NaN,Parent1402625
5691,8002301,Lindau-Reutin,47.552384,9.703296,NaN,Parent8002301
5692,8002301:0:21,Lindau-Reutin,47.552384,9.703296,NaN,Parent8002301
5693,8002301:0:23,Lindau-Reutin,47.552384,9.703296,NaN,Parent8002301
5694,8002301:0:24,Lindau-Reutin,47.552384,9.703296,NaN,Parent8002301
...,...,...,...,...,...,...
58148,8778336,Sévérac-le-Château,44.324652,3.056949,NaN,Parent8778336
58149,8778342,St-Georges-de-Luzençon,44.066571,2.983593,NaN,Parent8778342
58150,8778343,St-Rome-de-Cernon,44.013981,2.967369,NaN,Parent8778343
58151,8778345,Tournemire-Roquefort,43.969898,3.016498,NaN,Parent8778345
58153,8778400,Perpignan,42.695942,2.879397,NaN,Parent8778400

In [10]:
train_stations = stations[stations["stop_id"].isin(train_stops["parent_station"])]
train_stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
63571,Parent1402625,Pont-de-Claix l'Étoile,45.137480,5.702577,1.0,NaN
63599,Parent8002301,Lindau-Reutin,47.552384,9.703296,1.0,NaN
63600,Parent8002370,Lindau-Aeschach,47.559623,9.684656,1.0,NaN
63601,Parent8002371,Lindau-Insel,47.544338,9.680470,1.0,NaN
63602,Parent8002373,Enzisweiler,47.564139,9.665432,1.0,NaN
...,...,...,...,...,...,...
91668,Parent8778336,Sévérac-le-Château,44.324652,3.056949,1.0,NaN
91669,Parent8778342,St-Georges-de-Luzençon,44.066571,2.983593,1.0,NaN
91670,Parent8778343,St-Rome-de-Cernon,44.013981,2.967369,1.0,NaN
91671,Parent8778345,Tournemire-Roquefort,43.969898,3.016498,1.0,NaN
91673,Parent8778400,Perpignan,42.695942,2.879397,1.0,NaN

In [11]:
# Make sure there is no duplicated train station.
assert (train_stations.duplicated(keep=False).sum() == 0)
assert (train_stations.duplicated(subset=["stop_name"], keep=False).sum() == 0)

In [12]:
train_stations.to_csv("../data/preprocessed/train_stations.csv", index=False);
train_routes.to_csv("../data/preprocessed/train_routes.csv", index=False); 
train_trips.to_csv("../data/preprocessed/train_trips.csv", index=False);
train_stop_times.to_csv("../data/preprocessed/train_stop_times.csv", index=False);

### Get a list of all stations (including metro, bus, and others) within 10 km of Lausanne-Flon

In [13]:
lausanne_flon = stations[stations["stop_name"].str.contains("Lausanne-Flon")]
lausanne_flon_coords = (lausanne_flon.iloc[0]["stop_lat"], lausanne_flon.iloc[0]["stop_lon"])
lausanne_flon_coords

(46.52079869, 6.63033935)

In [14]:
from geopy.distance import geodesic

In [15]:
stations.loc[:, "distance_to_lausanne_flon"] = stations.apply(
    lambda row: geodesic(lausanne_flon_coords, (row["stop_lat"], row["stop_lon"])).km, axis=1
)
stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon
58158,Parent1100008,"Zell (Wiesental), Wilder Mann",47.710084,7.859648,1.0,NaN,161.813287
58159,Parent1100009,"Zell (Wiesental), Grönland",47.713191,7.862909,1.0,NaN,162.236600
58160,Parent1100010,Atzenbach,47.714618,7.872350,1.0,NaN,162.779219
58161,Parent1100011,"Mambach, Brücke",47.728209,7.877470,1.0,NaN,164.230183
58162,Parent1100012,"Mambach, Mühlschau",47.734082,7.881387,1.0,NaN,164.932108
...,...,...,...,...,...,...,...
91673,Parent8778400,Perpignan,42.695942,2.879397,1.0,NaN,518.814586
91674,Parent8780099,Lamarche Centre,48.070833,5.782222,1.0,NaN,183.876341
91675,Parent8792902,Vallon-Pnt-d'Arc Gare Routière,44.405666,4.397298,1.0,NaN,292.823747
91676,Parent8793698,Buswiller-Eglise,48.819473,7.559682,1.0,NaN,264.928091
91677,Parent8799803,"Annecy, gare routière",45.902078,6.118201,1.0,NaN,79.320191

In [16]:
lausanne_stations = stations[stations["distance_to_lausanne_flon"] <= 10] 
lausanne_stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon
64455,Parent8501045,Denges-Echandens,46.529124,6.540508,1.0,NaN,6.954399
64456,Parent8501047,Morges-St-Jean,46.518196,6.508043,1.0,NaN,9.388908
64457,Parent8501048,Lonay-Préverenges,46.523135,6.519541,1.0,NaN,8.505698
64475,Parent8501075,Lausanne-Ouchy (lac),46.505078,6.627608,1.0,NaN,1.760105
64511,Parent8501116,Vufflens-la-Ville,46.576247,6.530770,1.0,NaN,9.813567
...,...,...,...,...,...,...,...
89582,Parent8595939,"Lausanne, Parc Bourget",46.518889,6.593625,1.0,NaN,2.825237
89615,Parent8595978,"Villars-Ste-Croix, Colice",46.562537,6.566298,1.0,NaN,6.756947
89621,Parent8595986,"Crissier, Lentillières",46.550831,6.572497,1.0,NaN,5.552864
89645,Parent8596052,"Echichens, Crêt",46.524489,6.503803,1.0,NaN,9.717911
89646,Parent8596053,"Ecublens VD, Blévallaire",46.519569,6.577294,1.0,NaN,4.072701

In [17]:
lausanne_stop_times = stop_times_with_parents[stop_times_with_parents['parent_station'].isin(lausanne_stations['stop_id'])]
lausanne_stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,parent_station
258,1.TA.91-15-B-j25-1.1.H,23:35:00,23:35:00,8501118:0:3,1,0,0,Parent8501118
259,1.TA.91-15-B-j25-1.1.H,23:40:00,23:40:00,8501120:0:4,2,0,0,Parent8501120
293,1.TA.91-15-H-j25-1.1.H,23:20:00,23:20:00,8501120:0:3,9,0,0,Parent8501120
520,1.TA.91-1-M-j25-1.1.H,05:14:00,05:14:00,8501120:0:7,1,0,0,Parent8501120
521,1.TA.91-1-M-j25-1.1.H,05:18:00,05:18:00,8518452:0:1,2,0,0,Parent8518452
...,...,...,...,...,...,...,...,...
13751829,99.TA.96-65-j25-1.16.R,18:05:00,18:05:00,8592194:0:10001,7,0,0,Parent8592194
13751830,99.TA.96-65-j25-1.16.R,18:06:00,18:06:00,8504172:0:10001,8,0,0,Parent8504172
13751831,99.TA.96-65-j25-1.16.R,18:07:00,18:07:00,8592233:0:10001,9,0,0,Parent8592233
13751832,99.TA.96-65-j25-1.16.R,18:08:00,18:08:00,8592228:0:10001,10,0,0,Parent8592228
13751833,99.TA.96-65-j25-1.16.R,18:10:00,18:10:00,8504173:0:10001,11,0,0,Parent8504173

In [18]:
lausanne_trips = trips[trips['trip_id'].isin(lausanne_stop_times['trip_id'])]
lausanne_trips

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,original_trip_id,hints
38196,91-15-B-j25-1,TA+sxd00,1.TA.91-15-B-j25-1.1.H,Lausanne,30541,0,NaN,ch:1:sjyid:100001:30541-002,NF
38197,91-15-B-j25-1,TA+3i860,10.TA.91-15-B-j25-1.6.H,Lausanne,10542,0,NaN,ch:1:sjyid:100001:10542-002,BZ FA FS
38199,91-15-B-j25-1,TA+qs500,1000.TA.91-15-B-j25-1.358.R,Bern,2543,1,NaN,ch:1:sjyid:100001:2543-001,BZ FS
38200,91-15-B-j25-1,TA+op500,1001.TA.91-15-B-j25-1.359.R,Bern,2543,1,NaN,ch:1:sjyid:100001:2543-001,BZ FS
38201,91-15-B-j25-1,TA+rt200,1002.TA.91-15-B-j25-1.360.R,Bern,2543,1,NaN,ch:1:sjyid:100001:2543-001,BZ FS
...,...,...,...,...,...,...,...,...,...
1243474,96-65-j25-1,TA+p8000,95.TA.96-65-j25-1.15.R,"Moudon, gare",36510,1,NaN,NaN,NF
1243475,96-65-j25-1,TA+p8000,96.TA.96-65-j25-1.15.R,"Moudon, gare",36516,1,NaN,NaN,NF
1243476,96-65-j25-1,TA+p8000,97.TA.96-65-j25-1.15.R,"Moudon, gare",36536,1,NaN,NaN,NF
1243477,96-65-j25-1,TA+p8000,98.TA.96-65-j25-1.16.R,"Moudon, gare",36550,1,NaN,NaN,NF
1243478,96-65-j25-1,TA+p8000,99.TA.96-65-j25-1.16.R,"Moudon, gare",36544,1,NaN,NaN,NF

In [19]:
lausanne_routes = routes[routes['route_id'].isin(lausanne_trips['route_id'])]
lausanne_routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
41,91-15-B-j25-1,11,IR15,NaN,IR,103
47,91-15-H-j25-1,11,IC15,NaN,IC,102
78,91-1-D-j25-1,11,IC1,NaN,IC,102
91,91-1-M-j25-1,11,R1,NaN,R,106
99,91-1-Y-j25-1,11,RE,NaN,RE,106
...,...,...,...,...,...,...
4233,96-287-j25-1,801,360,NaN,B,700
4481,96-61-A-j25-1,801,361,NaN,EXB,702
4487,96-62-j25-1,801,410,NaN,B,700
4492,96-64-j25-1,801,362,NaN,B,700
4500,96-65-j25-1,801,365,NaN,B,700

In [20]:
lausanne_stations.to_csv("../data/preprocessed/lausanne_stations.csv", index=False);
lausanne_trips.to_csv("../data/preprocessed/lausanne_trips.csv", index=False);
lausanne_routes.to_csv("../data/preprocessed/lausanne_routes.csv", index=False);
lausanne_stop_times.to_csv("../data/preprocessed/lausanne_stop_times.csv", index=False);

### Our interested stations = train stations + lausanne stations

In [21]:
interesting_staions = pd.concat([train_stations, lausanne_stations])
interesting_staions

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon
63571,Parent1402625,Pont-de-Claix l'Étoile,45.137480,5.702577,1.0,NaN,NaN
63599,Parent8002301,Lindau-Reutin,47.552384,9.703296,1.0,NaN,NaN
63600,Parent8002370,Lindau-Aeschach,47.559623,9.684656,1.0,NaN,NaN
63601,Parent8002371,Lindau-Insel,47.544338,9.680470,1.0,NaN,NaN
63602,Parent8002373,Enzisweiler,47.564139,9.665432,1.0,NaN,NaN
...,...,...,...,...,...,...,...
89582,Parent8595939,"Lausanne, Parc Bourget",46.518889,6.593625,1.0,NaN,2.825237
89615,Parent8595978,"Villars-Ste-Croix, Colice",46.562537,6.566298,1.0,NaN,6.756947
89621,Parent8595986,"Crissier, Lentillières",46.550831,6.572497,1.0,NaN,5.552864
89645,Parent8596052,"Echichens, Crêt",46.524489,6.503803,1.0,NaN,9.717911
89646,Parent8596053,"Ecublens VD, Blévallaire",46.519569,6.577294,1.0,NaN,4.072701

In conclusion, if we only consider all bus/metro/other stations in Lausanne and all train stations in Switzerland, it's about 4000 stations in total.

By inspecting the data, we also learn that the dataset contains all the information we needed for our project.

### For Milestone 2: EPFL stations

In [22]:
epfl = stations[stations['stop_id'] == 'Parent8501214'] 
epfl

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon
64564,Parent8501214,"Ecublens VD, EPFL",46.522196,6.566137,1.0,NaN,4.928861

In [23]:
epfl_coords = (epfl.iloc[0]["stop_lat"], epfl.iloc[0]["stop_lon"])
epfl_coords

(46.52219563, 6.56613676)

In [24]:
stations.loc[:, "distance_to_epfl"] = stations.apply(
    lambda row: geodesic(epfl_coords, (row["stop_lat"], row["stop_lon"])).km, axis=1
)
stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon,distance_to_epfl
58158,Parent1100008,"Zell (Wiesental), Wilder Mann",47.710084,7.859648,1.0,NaN,161.813287,164.544685
58159,Parent1100009,"Zell (Wiesental), Grönland",47.713191,7.862909,1.0,NaN,162.236600,164.967800
58160,Parent1100010,Atzenbach,47.714618,7.872350,1.0,NaN,162.779219,165.522313
58161,Parent1100011,"Mambach, Brücke",47.728209,7.877470,1.0,NaN,164.230183,166.958632
58162,Parent1100012,"Mambach, Mühlschau",47.734082,7.881387,1.0,NaN,164.932108,167.656842
...,...,...,...,...,...,...,...,...
91673,Parent8778400,Perpignan,42.695942,2.879397,1.0,NaN,518.814586,516.037591
91674,Parent8780099,Lamarche Centre,48.070833,5.782222,1.0,NaN,183.876341,182.092508
91675,Parent8792902,Vallon-Pnt-d'Arc Gare Routière,44.405666,4.397298,1.0,NaN,292.823747,289.983513
91676,Parent8793698,Buswiller-Eglise,48.819473,7.559682,1.0,NaN,264.928091,266.088763
91677,Parent8799803,"Annecy, gare routière",45.902078,6.118201,1.0,NaN,79.320191,77.110376

In [25]:
epfl_stations = stations[stations["distance_to_epfl"] <= 2] 
epfl_stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon,distance_to_epfl
64513,Parent8501118,Renens VD,46.537041,6.578938,1.0,NaN,4.337271,1.920321
64560,Parent8501210,"Lausanne, Bourdonnette",46.523265,6.589807,1.0,NaN,3.122143,1.820145
64561,Parent8501211,"Chavannes-R., UNIL-Chamberonne",46.524217,6.584705,1.0,NaN,3.522125,1.442341
64562,Parent8501212,"Chavannes-R., UNIL-Mouline",46.524989,6.578893,1.0,NaN,3.974903,1.026854
64563,Parent8501213,"Ecublens VD, UNIL-Sorge",46.522449,6.573575,1.0,NaN,4.359527,0.571425
...,...,...,...,...,...,...,...,...
89384,Parent8595521,"Lausanne, Bourdonnette nord",46.524891,6.589223,1.0,NaN,3.187461,1.796581
89392,Parent8595534,"Renens VD, piscine",46.530403,6.585271,1.0,NaN,3.619027,1.728500
89425,Parent8595602,"Chavannes-R., Dorigny",46.526757,6.583914,1.0,NaN,3.623199,1.455242
89580,Parent8595937,"Lausanne, sports UNIL-EPFL",46.521058,6.585837,1.0,NaN,3.414941,1.516905
89646,Parent8596053,"Ecublens VD, Blévallaire",46.519569,6.577294,1.0,NaN,4.072701,0.904552

In [26]:
epfl_stop_times = stop_times_with_parents[stop_times_with_parents['parent_station'].isin(epfl_stations['stop_id'])]
epfl_stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,parent_station
258,1.TA.91-15-B-j25-1.1.H,23:35:00,23:35:00,8501118:0:3,1,0,0,Parent8501118
522,1.TA.91-1-M-j25-1.1.H,05:21:00,05:22:00,8501118:0:1,3,0,0,Parent8501118
1341,1.TA.91-3N-Y-j25-1.1.H,01:22:00,01:22:00,8501118:0:3,5,0,0,Parent8501118
1458,1.TA.91-41-Y-j25-1.1.H,03:04:00,03:04:00,8501118:0:1,1,0,0,Parent8501118
1506,1.TA.91-42-Y-j25-1.1.H,23:27:00,23:27:00,8501118:0:3,2,0,0,Parent8501118
...,...,...,...,...,...,...,...,...
12426831,31.TA.94-315-0-j25-1.23.R,17:50:00,17:50:00,8501245,10,0,0,Parent8501245
12426959,32.TA.94-315-0-j25-1.23.R,17:50:00,17:50:00,8501245,10,0,0,Parent8501245
12427088,33.TA.94-315-0-j25-1.24.R,14:05:00,14:05:00,8501245,11,0,0,Parent8501245
12427212,34.TA.94-315-0-j25-1.24.R,14:05:00,14:05:00,8501245,11,0,0,Parent8501245
12430045,6.TA.94-315-0-j25-1.5.H,19:15:00,19:15:00,8501245,2,0,0,Parent8501245

In [27]:
epfl_trips = trips[trips['trip_id'].isin(epfl_stop_times['trip_id'])]
epfl_trips

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,original_trip_id,hints
38196,91-15-B-j25-1,TA+sxd00,1.TA.91-15-B-j25-1.1.H,Lausanne,30541,0,NaN,ch:1:sjyid:100001:30541-002,NF
38203,91-15-B-j25-1,TA+r8e00,1004.TA.91-15-B-j25-1.361.R,Bern,2543,1,NaN,ch:1:sjyid:100001:2543-001,NF
38692,91-15-B-j25-1,TA+ip050,2.TA.91-15-B-j25-1.1.H,Lausanne,30539,0,NaN,ch:1:sjyid:100001:30539-004,NF
38803,91-15-B-j25-1,TA+jwi00,3.TA.91-15-B-j25-1.1.H,Lausanne,30539,0,NaN,ch:1:sjyid:100001:30539-004,PH
38885,91-15-B-j25-1,TA+r8e00,373.TA.91-15-B-j25-1.143.H,Renens VD,2538,0,NaN,ch:1:sjyid:100001:2538-001,NF
...,...,...,...,...,...,...,...,...,...
1157624,94-315-0-j25-1,TA+pz000,31.TA.94-315-0-j25-1.23.R,Lausanne-Ouchy (lac),106,1,NaN,NaN,DS NF VB
1157625,94-315-0-j25-1,TA+4smb0,32.TA.94-315-0-j25-1.23.R,Lausanne-Ouchy (lac),106,1,NaN,NaN,NF VB
1157626,94-315-0-j25-1,TA+pz000,33.TA.94-315-0-j25-1.24.R,Lausanne-Ouchy (lac),102,1,NaN,NaN,DS NF VB WR
1157627,94-315-0-j25-1,TA+4smb0,34.TA.94-315-0-j25-1.24.R,Lausanne-Ouchy (lac),102,1,NaN,NaN,DS NF VB WR
1157630,94-315-0-j25-1,TA+pz000,6.TA.94-315-0-j25-1.5.H,Yvoire (F) (lac),487,0,NaN,NaN,DS NF VB WR

In [28]:
epfl_routes = routes[routes['route_id'].isin(epfl_trips['route_id'])]
epfl_routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
41,91-15-B-j25-1,11,IR15,NaN,IR,103
78,91-1-D-j25-1,11,IC1,NaN,IC,102
91,91-1-M-j25-1,11,R1,NaN,R,106
99,91-1-Y-j25-1,11,RE,NaN,RE,106
174,91-2H-Y-j25-1,11,IC,NaN,IC,102
186,91-2O-Y-j25-1,11,EC,NaN,EC,102
188,91-2Q-Y-j25-1,11,IR,NaN,IR,103
189,91-2-R-j25-1,11,R2,NaN,R,106
213,91-33-C-j25-1,11,RE33,NaN,RE,106
265,91-3N-Y-j25-1,11,SN,NaN,SN,109
270,91-3-T-j25-1,11,R3,NaN,R,106
289,91-41-Y-j25-1,11,SN,NaN,SN,109
296,91-42-Y-j25-1,11,IC,NaN,IC,102
299,91-43-Y-j25-1,11,IC,NaN,IC,102
313,91-49-Y-j25-1,11,SN,NaN,SN,109
319,91-4E-Y-j25-1,11,IC,NaN,IC,102
327,91-4-L-j25-1,11,R4,NaN,R,106
365,91-57-A-j25-1,11,IR57,NaN,IR,103
370,91-59-Y-j25-1,11,R,NaN,R,106
371,91-5-A-j25-1,11,IC5,NaN,IC,102
372,91-5A-Y-j25-1,11,R,NaN,R,106
388,91-5L-Y-j25-1,11,EXT,NaN,EXT,117
540,91-8-J-j25-1,11,R8,NaN,R,106
547,91-90-j25-1,11,IR90,NaN,IR,103
550,91-95-j25-1,11,IR95,NaN,IR,103
561,91-9-K-j25-1,11,R9,NaN,R,106
569,91-9Y-Y-j25-1,11,EXT,NaN,EXT,117
672,91-C-Y-j25-1,11,EXT,NaN,EXT,117
673,91-D3-Y-j25-1,11,EXT,NaN,EXT,117
686,91-FL-Y-j25-1,11,R,NaN,R,106
748,91-m1-j25-1,151,m1,NaN,M,401
822,91-T-Y-j25-1,11,EXT,NaN,EXT,117
1149,92-1-V-j25-1,151,1,NaN,B,700
1270,92-24-G-j25-1,151,24,NaN,B,700
1291,92-25-E-j25-1,151,25,NaN,B,700
1460,92-31-I-j25-1,151,31,NaN,B,700
1472,92-32-F-j25-1,151,32,NaN,B,700
1475,92-32-I-j25-1,151,32,NaN,B,700
1501,92-33-G-j25-1,151,33,NaN,B,700
1543,92-36-D-j25-1,151,36,NaN,B,700
1882,92-54-B-j25-1,151,54,NaN,B,700
1909,92-58-C-j25-1,151,58,NaN,B,700
2114,92-701-j25-1,764,701,NaN,B,700
2127,92-705-j25-1,764,705,NaN,B,700
2373,92-83-E-j25-1,151,83,NaN,B,700
2535,92-A03-I-j25-1,7231,EV,NaN,EV,700
2577,92-A05-7-j25-1,7231,EV,NaN,EV,700
2582,92-A05-C-j25-1,7231,EV,NaN,EV,700
2585,92-A05-F-j25-1,7231,EV1,NaN,EV,700
3009,92-N5-D-j25-1,151,N5,NaN,BN,705
3584,94-315-0-j25-1,184,3150,NaN,BAT,1000

In [32]:
epfl_query_table = epfl_stop_times[['trip_id', 'arrival_time', 'departure_time', 'stop_sequence', 'parent_station']].copy()
epfl_query_table = epfl_query_table.merge(epfl_trips[['trip_id', 'route_id']], on='trip_id', how='left')
epfl_query_table = epfl_query_table.merge(epfl_routes[['route_id', 'route_desc', 'route_short_name']], on='route_id', how='left')
epfl_query_table.rename(columns={'parent_station': 'station'}, inplace=True)
epfl_query_table

,trip_id,arrival_time,departure_time,stop_sequence,station,route_id,route_desc,route_short_name
0,1.TA.91-15-B-j25-1.1.H,23:35:00,23:35:00,1,Parent8501118,91-15-B-j25-1,IR,IR15
1,1.TA.91-1-M-j25-1.1.H,05:21:00,05:22:00,3,Parent8501118,91-1-M-j25-1,R,R1
2,1.TA.91-3N-Y-j25-1.1.H,01:22:00,01:22:00,5,Parent8501118,91-3N-Y-j25-1,SN,SN
3,1.TA.91-41-Y-j25-1.1.H,03:04:00,03:04:00,1,Parent8501118,91-41-Y-j25-1,SN,SN
4,1.TA.91-42-Y-j25-1.1.H,23:27:00,23:27:00,2,Parent8501118,91-42-Y-j25-1,IC,IC
...,...,...,...,...,...,...,...,...
91608,31.TA.94-315-0-j25-1.23.R,17:50:00,17:50:00,10,Parent8501245,94-315-0-j25-1,BAT,3150
91609,32.TA.94-315-0-j25-1.23.R,17:50:00,17:50:00,10,Parent8501245,94-315-0-j25-1,BAT,3150
91610,33.TA.94-315-0-j25-1.24.R,14:05:00,14:05:00,11,Parent8501245,94-315-0-j25-1,BAT,3150
91611,34.TA.94-315-0-j25-1.24.R,14:05:00,14:05:00,11,Parent8501245,94-315-0-j25-1,BAT,3150
91612,6.TA.94-315-0-j25-1.5.H,19:15:00,19:15:00,2,Parent8501245,94-315-0-j25-1,BAT,3150

In [33]:
epfl_simpl_stations = epfl_stations[['stop_id', 'stop_name']].copy()
epfl_simpl_stations.rename(columns={'stop_id': 'station'}, inplace=True)
epfl_simpl_stations.rename(columns={'stop_name': 'station_name'}, inplace=True)

In [34]:
# subsets
epfl_stations.to_csv("../data/preprocessed/epfl_stations.csv", index=False);
epfl_trips.to_csv("../data/preprocessed/epfl_trips.csv", index=False);
epfl_routes.to_csv("../data/preprocessed/epfl_routes.csv", index=False);
epfl_stop_times.to_csv("../data/preprocessed/epfl_stop_times.csv", index=False);
# used by typescript:
epfl_query_table.to_csv("../data/preprocessed/epfl_query_table.csv", index=False);
epfl_simpl_stations.to_csv("../data/preprocessed/epfl_simpl_stations.csv", index=False);