In [1]:
import pandas as pd
import math

### Get all the train stations

All kind of trains are included (e.g. regional trains, intercity, night train, ...)

In [2]:
stops = pd.read_csv("gtfs_fp2025_2025-03-20/stops.txt")
stations = stops[stops["parent_station"].isna()]
stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
58158,Parent1100008,"Zell (Wiesental), Wilder Mann",47.710084,7.859648,1.0,NaN
58159,Parent1100009,"Zell (Wiesental), Grönland",47.713191,7.862909,1.0,NaN
58160,Parent1100010,Atzenbach,47.714618,7.872350,1.0,NaN
58161,Parent1100011,"Mambach, Brücke",47.728209,7.877470,1.0,NaN
58162,Parent1100012,"Mambach, Mühlschau",47.734082,7.881387,1.0,NaN
...,...,...,...,...,...,...
91673,Parent8778400,Perpignan,42.695942,2.879397,1.0,NaN
91674,Parent8780099,Lamarche Centre,48.070833,5.782222,1.0,NaN
91675,Parent8792902,Vallon-Pnt-d'Arc Gare Routière,44.405666,4.397298,1.0,NaN
91676,Parent8793698,Buswiller-Eglise,48.819473,7.559682,1.0,NaN
91677,Parent8799803,"Annecy, gare routière",45.902078,6.118201,1.0,NaN

In [3]:
routes = pd.read_csv("gtfs_fp2025_2025-03-20/routes.txt")
# Check https://opentransportdata.swiss/en/cookbook/gtfs/#routestxt for route types
train_routes = routes[(routes["route_type"] >= 100) & (routes["route_type"] < 200)]
train_routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type
0,91-10-A-j25-1,78,S10,NaN,S,109
1,91-10-B-j25-1,11,S10,NaN,S,109
2,91-10-C-j25-1,65,S10,NaN,S,109
5,91-11-A-j25-1,11,S11,NaN,S,109
6,91-11-B-j25-1,327000,S11,NaN,S,109
...,...,...,...,...,...,...
3488,93-81-j25-1,137,81,NaN,CC,116
3490,93-82-j25-1,137,82,NaN,CC,116
3492,93-83-j25-1,136,83,NaN,CC,116
3495,93-87-j25-1,129,87,NaN,CC,116
3497,93-88-j25-1,137,88,NaN,CC,116

In [4]:
trips = pd.read_csv("gtfs_fp2025_2025-03-20/trips.txt")
train_trips = trips[trips["route_id"].isin(train_routes["route_id"])]
train_trips

/tmp/ipykernel_753799/1649588460.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv("gtfs_fp2025_2025-03-20/trips.txt")

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,original_trip_id,hints
0,91-10-A-j25-1,TA+e1,1.TA.91-10-A-j25-1.1.H,Zürich HB,12866,0,NaN,ch:1:sjyid:100058:12866-002,NF
1,91-10-A-j25-1,TA+cI,10.TA.91-10-A-j25-1.1.H,Zürich HB,12906,0,NaN,ch:1:sjyid:100058:12906-001,NF
2,91-10-A-j25-1,TA+cI,100.TA.91-10-A-j25-1.1.H,Zürich HB,12872,0,NaN,ch:1:sjyid:100058:12872-001,NF
3,91-10-A-j25-1,TA+e1,101.TA.91-10-A-j25-1.1.H,Zürich HB,12872,0,NaN,ch:1:sjyid:100058:12872-003,NF
4,91-10-A-j25-1,TA+cI,102.TA.91-10-A-j25-1.1.H,Zürich HB,12794,0,NaN,ch:1:sjyid:100058:12794-001,NF
...,...,...,...,...,...,...,...,...,...
1108378,93-88-j25-1,TA+47u70,5.TA.93-88-j25-1.3.H,Vitznau,1104,0,NaN,NaN,2 NF VN
1108379,93-88-j25-1,TA+csm00,6.TA.93-88-j25-1.4.R,Rigi Kaltbad-First,1295,1,NaN,NaN,2 NF VN
1108380,93-88-j25-1,TA+xl000,7.TA.93-88-j25-1.4.R,Rigi Kaltbad-First,1263,1,NaN,NaN,2 NF VN
1108381,93-88-j25-1,TA+c6,8.TA.93-88-j25-1.5.R,Rigi Staffelhöhe,1297,1,NaN,NaN,2 NF VN
1108382,93-88-j25-1,TA,9.TA.93-88-j25-1.6.R,Rigi Staffelhöhe,1103,1,NaN,NaN,2 NF VN

In [5]:
stop_times = pd.read_csv("gtfs_fp2025_2025-03-20/stop_times.txt")
train_stop_times = stop_times[stop_times["trip_id"].isin(train_trips["trip_id"])]
train_stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,1.TA.91-10-A-j25-1.1.H,15:07:00,15:07:00,8503054:0:1,1,0,0
1,1.TA.91-10-A-j25-1.1.H,15:08:00,15:08:00,8503053:0:1,2,0,0
2,1.TA.91-10-A-j25-1.1.H,15:09:00,15:09:00,8503052:0:1,3,0,0
3,1.TA.91-10-A-j25-1.1.H,15:12:00,15:12:00,8503051:0:1,4,0,0
4,1.TA.91-10-A-j25-1.1.H,15:15:00,15:15:00,8503090:0:1,5,0,0
...,...,...,...,...,...,...,...
12415277,99.TA.93-63-j25-1.7.H,07:30:00,07:30:00,8507384:0:3,1,0,0
12415278,99.TA.93-63-j25-1.7.H,07:37:00,07:37:00,8507555:0:1,2,0,0
12415279,99.TA.93-63-j25-1.7.H,07:41:00,07:41:00,8507372:0:3,3,0,0
12415282,99.TA.93-65-j25-1.4.R,12:16:00,12:16:00,8507361:0:1,1,0,0
12415283,99.TA.93-65-j25-1.4.R,12:24:00,12:24:00,8507374:0:21,2,0,0

In [6]:
train_stops = stops[stops["stop_id"].isin(train_stop_times["stop_id"])]
train_stations = stations[stations["stop_id"].isin(train_stops["parent_station"])]
train_stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
63571,Parent1402625,Pont-de-Claix l'Étoile,45.137480,5.702577,1.0,NaN
63599,Parent8002301,Lindau-Reutin,47.552384,9.703296,1.0,NaN
63600,Parent8002370,Lindau-Aeschach,47.559623,9.684656,1.0,NaN
63601,Parent8002371,Lindau-Insel,47.544338,9.680470,1.0,NaN
63602,Parent8002373,Enzisweiler,47.564139,9.665432,1.0,NaN
...,...,...,...,...,...,...
91668,Parent8778336,Sévérac-le-Château,44.324652,3.056949,1.0,NaN
91669,Parent8778342,St-Georges-de-Luzençon,44.066571,2.983593,1.0,NaN
91670,Parent8778343,St-Rome-de-Cernon,44.013981,2.967369,1.0,NaN
91671,Parent8778345,Tournemire-Roquefort,43.969898,3.016498,1.0,NaN
91673,Parent8778400,Perpignan,42.695942,2.879397,1.0,NaN

### Get a list of all stations (including metro, bus, and others) within 10 km of Lausanne-Flon

In [7]:
lausanne_flon = stations[stations["stop_name"].str.contains("Lausanne-Flon")]
lausanne_flon_coords = (lausanne_flon.iloc[0]["stop_lat"], lausanne_flon.iloc[0]["stop_lon"])
lausanne_flon_coords

(46.52079869, 6.63033935)

In [8]:
from geopy.distance import geodesic

In [9]:
stations.loc[:, "distance_to_lausanne_flon"] = stations.apply(
    lambda row: geodesic(lausanne_flon_coords, (row["stop_lat"], row["stop_lon"])).km, axis=1
)
stations

/tmp/ipykernel_753799/301749990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations.loc[:, "distance_to_lausanne_flon"] = stations.apply(

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon
58158,Parent1100008,"Zell (Wiesental), Wilder Mann",47.710084,7.859648,1.0,NaN,161.813287
58159,Parent1100009,"Zell (Wiesental), Grönland",47.713191,7.862909,1.0,NaN,162.236600
58160,Parent1100010,Atzenbach,47.714618,7.872350,1.0,NaN,162.779219
58161,Parent1100011,"Mambach, Brücke",47.728209,7.877470,1.0,NaN,164.230183
58162,Parent1100012,"Mambach, Mühlschau",47.734082,7.881387,1.0,NaN,164.932108
...,...,...,...,...,...,...,...
91673,Parent8778400,Perpignan,42.695942,2.879397,1.0,NaN,518.814586
91674,Parent8780099,Lamarche Centre,48.070833,5.782222,1.0,NaN,183.876341
91675,Parent8792902,Vallon-Pnt-d'Arc Gare Routière,44.405666,4.397298,1.0,NaN,292.823747
91676,Parent8793698,Buswiller-Eglise,48.819473,7.559682,1.0,NaN,264.928091
91677,Parent8799803,"Annecy, gare routière",45.902078,6.118201,1.0,NaN,79.320191

In [10]:
lausanne_stations = stations[stations["distance_to_lausanne_flon"] <= 10]
lausanne_stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon
64455,Parent8501045,Denges-Echandens,46.529124,6.540508,1.0,NaN,6.954399
64456,Parent8501047,Morges-St-Jean,46.518196,6.508043,1.0,NaN,9.388908
64457,Parent8501048,Lonay-Préverenges,46.523135,6.519541,1.0,NaN,8.505698
64475,Parent8501075,Lausanne-Ouchy (lac),46.505078,6.627608,1.0,NaN,1.760105
64511,Parent8501116,Vufflens-la-Ville,46.576247,6.530770,1.0,NaN,9.813567
...,...,...,...,...,...,...,...
89582,Parent8595939,"Lausanne, Parc Bourget",46.518889,6.593625,1.0,NaN,2.825237
89615,Parent8595978,"Villars-Ste-Croix, Colice",46.562537,6.566298,1.0,NaN,6.756947
89621,Parent8595986,"Crissier, Lentillières",46.550831,6.572497,1.0,NaN,5.552864
89645,Parent8596052,"Echichens, Crêt",46.524489,6.503803,1.0,NaN,9.717911
89646,Parent8596053,"Ecublens VD, Blévallaire",46.519569,6.577294,1.0,NaN,4.072701

In [11]:
interesting_staions = pd.concat([train_stations, lausanne_stations])
interesting_staions

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,distance_to_lausanne_flon
63571,Parent1402625,Pont-de-Claix l'Étoile,45.137480,5.702577,1.0,NaN,NaN
63599,Parent8002301,Lindau-Reutin,47.552384,9.703296,1.0,NaN,NaN
63600,Parent8002370,Lindau-Aeschach,47.559623,9.684656,1.0,NaN,NaN
63601,Parent8002371,Lindau-Insel,47.544338,9.680470,1.0,NaN,NaN
63602,Parent8002373,Enzisweiler,47.564139,9.665432,1.0,NaN,NaN
...,...,...,...,...,...,...,...
89582,Parent8595939,"Lausanne, Parc Bourget",46.518889,6.593625,1.0,NaN,2.825237
89615,Parent8595978,"Villars-Ste-Croix, Colice",46.562537,6.566298,1.0,NaN,6.756947
89621,Parent8595986,"Crissier, Lentillières",46.550831,6.572497,1.0,NaN,5.552864
89645,Parent8596052,"Echichens, Crêt",46.524489,6.503803,1.0,NaN,9.717911
89646,Parent8596053,"Ecublens VD, Blévallaire",46.519569,6.577294,1.0,NaN,4.072701

In conclusion, if we only consider all bus/metro/other stations in Lausanne and all train stations in Switzerland, it's about 4000 stations in total.

By inspecting the data, we also learn that the dataset contains all the information we needed for our project.